// VARIABLES

$headingText:#FAFAFA;
$shadow:0 10px 15px 0 rgba(0, 0, 0, 0.15);
$bgColor: #F5F5F5;

// CARDS
// background: #FFFFFF;
// box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
// border-radius: 10px; 



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}