// VARIABLES

$headingText:#FAFAFA;
$textColor:#292929;
$shadow:0 10px 15px 0 rgba(0, 0, 0, 0.15);
$bgColor: #F5F5F5;
$textWhite:#E9E9E9;
$textFormColor:#A3A3A3;
$linearGradient:(to right bottom, rgba(194, 255, 84, 0.8), rgba(249, 208, 36, 0.8), rgba(239, 124, 48, 0.8), rgba(252, 49, 155, 0.8));
$btnGreen:#39C36D;
$colorPurple:#CE1791;
// background-image: linear-gradient(to right bottom,
//     rgba(137, 188, 254, 0.8),
//     rgba(43, 65, 112, 0.8)), url(../img/rockymountains-small.jpg);

// CARDS
// background: #FFFFFF;
// box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
// border-radius: 10px; 


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  position: relative;

  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
}