.heading {
  font-size: 4.8rem;
  text-transform: uppercase;
  color: $headingText;
  font-weight: 800;
  // width: 60%;
  margin-bottom: 6rem;
}


.btn {

  &,
  &:link,
  &:visited {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: $shadow;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
  }


  &--green {
    background-color: $btnGreen;
    color: $textWhite;
  }

}

.painter {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50rem;
  z-index: 0;
}

.heading-secondary {
  margin: 8rem 0;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(-45deg, #FC319B 0%, #EF7C30 31%, #FAD024 70%, #F9D024 71%, #C2FF54 100%);
  color: transparent;
  -webkit-background-clip: text;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $modalBg;

  &__content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 2rem;
    width: 70%;
    animation-name: modalopen;
    animation-duration: 1s;
  }
}

.closeBtn {
  font-size: 3rem;
  display: flex;
  justify-content: end;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.estimate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 1.2rem;

  fieldset {
    border: none;
  }

  input,
  textarea {
    width: 100%;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    color: $textFormColor;
    border-radius: 10px;
    border: none;
  }

  fieldset:nth-child(5) {
    grid-column: 3/-3;

  }

  textarea {
    width: 100%;
  }
}



.services {
  &__cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 8rem;
  }

  &__card {
    box-shadow: $shadow;
    border-radius: 10px;
    flex: 0 1 30%;
    padding: 2.5rem;
    transition: transform .5s;

    &--svg {
      width: 12rem;
      height: 12rem;
    }

    &:hover {
      transform: translateY(-1.5rem);
    }
  }
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 500;
  color: $textColor;
  margin: 1.5rem 0;
}

.services__list {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  list-style: none;
  font-size: 1.6rem;
  color: $textColor;

  &>.services__item {
    font-size: 1.8rem;
    padding: .5rem;
    line-height: 1.5;
  }
}

.footer {
  &__phone {
    display: flex;
    width: 50rem;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    .or {
      font-size: 1.2rem;
      font-family: inherit;
      text-transform: uppercase;
      align-self: flex-end;
    }

    .phone {
      // text-transform: uppercase;
      text-decoration: none;
      font-size: 2rem;
      color: $textColor;
      font-family: 'open sans';
      font-weight: 700;

    }
  }

  &__copyright {
    font-weight: 800;
    padding: 2rem;
    font-size: 1.1rem;
    color: $textColor;
    text-transform: uppercase;
  }
}