.header {
  // height: 95vh;
  height: 60rem;
  background-image: linear-gradient($linearGradient), url(/img/colors-containers-contemporary-1571174.jpg);
  background-size: cover;
  background-position: bottom;
  box-shadow: $shadow;

  &__text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  align-items: center;


  &__list {
    list-style: none;
    display: flex;
  }

  &__link {

    &:link,
    &:visited {
      font-size: 2rem;
      display: inline-block;
      font-weight: 500;
      padding: 1rem 2rem;
      color: $headingText;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

.services {
  padding: 9rem 0;
}

.form {
  background-color: forestgreen;
}

.about {
  background-color: purple;
}

.gallery {
  background-color: gray;
}

.footer {
  background-color: orangered;
}

.form {
  background-color: forestgreen;
}