.header {
  // height: 95vh;
  height: 60rem;
  background-image: linear-gradient($linearGradient), url(/img/colors-containers-contemporary-1571174.jpg);
  background-size: cover;
  background-position: bottom;
  box-shadow: $shadow;

  &__hero--text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 5;

    @media only screen and (max-width: $bp--medium) {
      left: 50%;
      width: 100%;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  align-items: center;

  &__logo {
    height: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__link {

    &:link,
    &:visited {
      font-size: 2rem;
      // display: inline-block;
      font-weight: 500;
      padding: 1rem 2rem;
      color: $headingText;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  @media only screen and (max-width: $bp--smallest) {
    &__list {
      display: none;
      position: fixed;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 100;
    }

    &__item {
      text-align: center;
      margin: 2rem;
    }

    &__link {

      &:link,
      &:visited {
        display: inline-block;
        font-size: 3rem;
      }

      &:hover {
        color: $textColor;
      }
    }



    &__checkbox {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 2;
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      opacity: 0;

      &:checked+.hamburger__inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
          top: 0;
          opacity: 0;
          transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        }

        &::after {
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }

    &__button {
      background-color: $bgColor;
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      position: fixed;
      top: 1.5rem;
      right: 1.5rem;
      z-index: 30;
    }

    &__background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 2rem;
      right: 2rem;
      background-image: radial-gradient($radialG);
      z-index: 20;
    }

    .hamburger {
      position: fixed;
      top: 2rem;
      right: 2rem;
      padding: 1rem;
      z-index: 30;
      height: 6rem;
      width: 6rem;
      // background: linear-gradient($linearG);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      // border-radius: 50%;
      transition-property: opacity, filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      // font: inherit;
      // color: inherit;
      // text-transform: none;
      // border: 0;
      // overflow: visible;

      .hamburger__inner {
        background-color: #fff;

        &::before,
        &::after {
          background-color: #fff;
        }
      }

      // &__box {
      //   width: 4rem;
      //   height: 4rem;
      //   // display: inline-block;
      //   // position: relative;
      // }

      &__inner {
        position: relative;
        width: 40px;
        display: flex;
        height: 4px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        // ali top: 50%;
        // margin-top: -2px;
        background-color: black;
        transition-property: transform;
        transition-duration: 0.075s;
        transition-timing-function: ease;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before,
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
          position: absolute;
          transition-property: transform;
          transition-duration: 0.15s;
          transition-timing-function: ease;
        }

        &::before {
          top: -10px;
          transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        }

        &::after {
          bottom: -10px;
          transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
      }

    }

    &__checkbox:checked~&__background {
      transform: scale(80);
    }

    &__checkbox:checked~&__list {
      display: flex;
    }
  }

}


.estimate__form {
  background-color: $bgColor;
  padding: 3.5rem 0;

  .book {
    .heading-tertiary {
      text-transform: uppercase;
      color: $colorPurple;
      font-size: 1.7rem;
      margin: 0;
    }

    .heading-secondary {
      text-align: left;
      color: $textColor;
      font-size: 2.8rem;
      margin: 1.5rem 0;
      font-weight: 500;
      text-transform: capitalize;
    }

    &__form {
      width: 50%;
      font-family: inherit;
      position: relative;
      z-index: 5;

      @media only screen and (max-width: $bp--smallest) {
        width: 100%;
      }

      .form__label {
        display: none;
      }
    }
  }

  .worker {
    position: absolute;
    right: 0;
    bottom: -3.5rem;
    height: 120%;
    z-index: 0;
  }
}







.paragraph {
  padding: 0 15rem;
  text-align: start;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  font-weight: 500;

  @media only screen and (max-width:$bp--smallest) {
    padding: 0 2rem;
  }
}


.gallery {
  &__photos {
    background-color: $bgColor;
    display: grid;
    // grid-template-columns: repeat(8, 1fr);//!Ova e so imav
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 27rem;
    grid-auto-flow: row dense;
    grid-gap: 1.5rem;
    padding: 1.5rem;
  }

  &__item {

    &--1 {
      grid-column: auto/ span 2;
    }

    //   &--2 {
    //     grid-row: 1/span 3;
    //     grid-column: 3/span 2;
    //   }

    //   &--3 {
    //     grid-row: 6/span 3;
    //     grid-column: 1/span 2;
    //   }

    // &--4 {

    // }

    &--7 {
      // grid-row: auto/span 3;
      grid-column: auto/span 2;
    }

    //   &--6 {
    //     grid-row: 8/ -1;
    //     grid-column: 8/-1;
    //   }
    // &--6 {
    //   grid-row: auto/ span 2;
    // }

    // &--7 {
    //   grid-column: auto/span 2;
    // }

    // &--8 {
    //   grid-row: 4/span 4;
    //   grid-column: 3/span 4;
    // }


    &--11 {
      grid-column: auto/span 2;
    }

    &:hover .gallery__img {
      transform: scale(1.1);
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease-out;
  }
}



.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__media {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;

    &--link {
      text-decoration: none;
      border-radius: 50%;
      width: 6.5rem;
      height: 6.5rem;
      cursor: pointer;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      -moz-box-pack: center;
      justify-content: center;
      border: 2px solid $colorPurple;
      margin: 0px 1.5rem;
      transition: all 0.2s ease-out 0s;

      &:hover {
        background-color: $colorPurple;

        .icons {
          color: $textWhite;
        }
      }
    }

    .icons {
      color: $textColor;
      height: 3rem;
      transition: color 0.2s ease-out 0s;
    }
  }
}

// @media (min-width: 1000px) {
//   . {
//     grid-column: 1 / span 2;
//     grid-row: span 1;
//   }
// }
@media (max-width: 550px) {
  .gallery__photos {
    display: block;
  }

  figure {
    margin-bottom: 1em;
  }

  // figcaption {
  //   font-size: .9em;
  // }
}